<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body"  >
    <div class="row" >
      <img src="./app/assets/images/logo.jpg"
           class="img-responsive center-block"
           style="max-height:300px;padding-bottom:50px"/>
    </div>

    <button (click)="onActivate('Video Game')" class="btn btn-primary">Video Game</button>
    <button (click)="onActivate('Computer')" class="btn btn-primary">Computer</button>
    <button (click)="onActivate('Other')" class="btn btn-primary">Other</button>

  </div>
</div>

